# installed:
/coatjava
/myLocalMvnRepo
target

*.class
*lundfiles*.dat
.DS_Store
common-tools/cnuphys/coatjava/etc/data/magfield/clas12-fieldmap-solenoid.dat
common-tools/cnuphys/coatjava/etc/data/magfield/clas12-fieldmap-torus.dat
common-tools/cnuphys/magfieldC/data/clas12_torus_fieldmap_binary.dat
common-tools/cnuphys/magfieldC/data/solenoid-srr.dat
etc/data/magfield/*.dat

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# editor tmp files:
*.swp
*~

# ide stuff:
*.iml
.idea

# no log files:
*.log

