Andrey Kim <kenjo@jlab.org> <drewkenjo@gmail.com>
Andrey Kim <kenjo@jlab.org> <drewkenjo@users.noreply.github.com>
Christian Poliwoda <christianpoliwoda@yahoo.de>
Christian Poliwoda <christianpoliwoda@yahoo.de> <cpoliwoda@fidibus.gcsc.uni-frankfurt.de>
Cole Smith <lcs1956@me.com> <lsmith@ls-macbook-pro.lan>
Cole Smith <lcs1956@me.com> <lsmith@10.0.0.210>
Cole Smith <lcs1956@me.com> <lsmith@ls-macbook-pro.lan>
Cole Smith <lcs1956@me.com> <lsmith@Ls-MacBook-Pro.local>
David Heddle <david.heddle@cnu.edu> <dheddle@circadence.com>
David Heddle <david.heddle@cnu.edu> <heddle@Davids-iMac.local>
David Heddle <david.heddle@cnu.edu> <heddle@ced.(none)>
David Heddle <david.heddle@cnu.edu> <dheddle@circadence.com>
David Heddle <david.heddle@cnu.edu> <David.Heddle@cnu.edu>
David Heddle <david.heddle@cnu.edu> <david.heddle@gmail.com>
David Heddle <david.heddle@cnu.edu> <dheddle@circadence.com>
David Heddle <david.heddle@cnu.edu> <heddle@137.155.4.138>
Efrain Segarra <segarrae@jlab.org>
Efrain Segarra <segarrae@jlab.org> <segarrae@ifarm1402.jlab.org> 
Efrain Segarra <segarrae@jlab.org> <efrainsegarra@VPN-18-101-16-148.MIT.EDU>
Efrain Segarra <segarrae@jlab.org> <efrainsegarra@VPN-18-101-16-126.MIT.EDU>
Efrain Segarra <segarrae@jlab.org> <segarrae@ifarm1401.jlab.org>
Efrain Segarra <segarrae@jlab.org> <efrainsegarra@segarrae.local>
Efrain Segarra <segarrae@jlab.org> <efrainsegarra@MacBook-Pro.local>
Efrain Segarra <segarrae@jlab.org> <segarrae@umich.edu>
Florian Hauenstein <hauenst@jlab.org> <hauenst@jlab.org>
Francois-Xavier Girod <fxgirod@jlab.org> <fxgirod@jlabl5.jlab.org>
Francesco Bossu <fbossu@jlab.org>
Gagik Gavalian <gavalian@jlab.org>
Gagik Gavalian <gavalian@jlab.org> <gavalian@Gagiks-MacBook-Air.local>
Gagik Gavalian <gavalian@jlab.org> <gavalian@lori.local>
Gagik Gavalian <gavalian@jlab.org> <gavalian@meson.jlab.org>
Gagik Gavalian <gavalian@jlab.org> <gavalian@users.noreply.github.com>
Guillaume Christiaens <guillaum@jlab.org>
Jerry Gilfoyle <gilfoyle@jlab.org>
Jerry Gilfoyle <gilfoyle@jlab.org> <gilfoyle@gpg5.richmond.edu>
Joseph Newton <jnewton@jlab.org> <jnewton@jlab.org>
Justin Goodwill <goodwil2@duq.edu>
Maxime Defurne <mdefurne@gmail.com>
Michael Kunkel <mkunkel@jlab.org>
Nathan Baltzell <baltzell@jlab.org> <baltzell@lappi4.home>
Nathan Baltzell <baltzell@jlab.org> <baltzell@LappiAir2.home>
Nathan Baltzell <baltzell@jlab.org> <baltzell@gmx.com>
Nathan Baltzell <baltzell@jlab.org> <baltzell@llama.jlab.org>
Nathan Harrison <nathanh@jlab.org> <nathan.andrew.harrison@gmail.com>
Nathan Harrison <nathanh@jlab.org> <harrison@Nathans-MacBook-Air.local>
Nick Markov <markovnick@gmail.com>
Pierre Chatagnon <chatagnon@ipninter3.in2p3.fr> <33055626+PChatagnon@users.noreply.github.com>
Raffaella De Vita <devita@ge.infn.it>
Rong Wang <wangrong@ipno.in2p3.fr>
Rong Wang <wangrong@ipno.in2p3.fr> <wangrong@ipnphase18.in2p3.fr>
Sebastián Mancilla <smancill@jlab.org> <smancill.m@gmail.com>
Silvia Nicolai <silvia@jlab.org>
Sylvester Joosten <sylvester.joosten@gmail.com> <sylvester.joosten@temple.edu>
Vardan Gyurjyan <gurjyan@jlab.org>
Veronique Ziegler <ziegler@jlab.org>
Veronique Ziegler <ziegler@jlab.org> <veronique@veroniques-air.home>
